# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtual environments
venv/

__pycache__/
node_modules/

# Serverless directories
.serverless

# ide and editor
.idea/
.vscode/

.DS_Store

# External libraries for deployment package
certifi/
certifi-2018.1.18.dist-info
chardet/
chardet-3.0.4.dist-info
idna/
idna-2.6.dist-info
requests/
requests-2.18.4.dist-info
urllib3/
urllib3-1.22.dist-info

docs/

# other personal settings stored as json
*.json