service: dpm-slack-management

provider:
  name: aws
  runtime: python3.6
  profile: default
  region: ap-northeast-2

package:
  exclude:
    - node_modules/**
    - .git/**
    - .gitignore
    - .travis.yml
    - Dockerfile
    - LICENSE
    - package.json
    - package-lock.json
    - README.md
    - yarn.lock
    - venv/**

functions:
  # 비활성 채널 archive
  archiveInactiveChannels:
    handler: src/cron/archive_inactive_channels/handler.handler
    description: 30일 동안 대화가 없는 슬랙 채널을 아카이브합니다.

  # 퇴근 알리미
  sendOffWorkReminder:
    handler: src/cron/send_work_off_reminder/handler.handler
    description: 매일 오후 6시에 퇴근시간 알림 메시지를 보냅니다.
    events:
      - schedule:
          name: execute-daily-6pm
          description: 매일 오후 6시에 해당 함수를 호출합니다.
          rate: cron(0 9 ? * MON-FRI *)
          enabled: true

  # 오늘의 무료책
  todayFreeBook:
    handler: src/cron/packt_free_ebook/handler.handler
    description: packtpub 에서 오늘의 무료 e북을 하루에 한번씩 가져옵니다
    events:
      - schedule:
          name: execute-daily-9am
          description: 매일 오전 9시에 해당 함수를 호출합니다.
          rate: cron(0 0 ? * MON-FRI *)
          enabled: true

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    dockerizePip: true
